<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.plugin.task.editors.MultiPageEditor"
            contributorClass="org.plugin.task.editors.MultiPageEditorContributor"
            extensions="mpe"
            icon="icons/sample.png"
            id="org.plugin.task.editors.MultiPageEditor"
            name="Sample Multi-page Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="org.plugin.task">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.png"
            category="org.plugin.task"
            class="org.plugin.task.wizards.SampleNewWizard"
            id="org.plugin.task.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
